In [1]:
import pandas as pd

from sklearn.feature_selection import SelectKBest, f_classif, chi2

In [2]:
#abriendo el conjunto de datos desde un archivo CSV y asignandolo los datos al DataFrame "df"
df = pd.read_csv('dataset_a.csv', sep=';', error_bad_lines=False)

In [3]:
df.head()

,rut,usuario,correo,nombre,profesor,i1,f1,t1,r1,p1,...,sol2,sol3,sol4,tarea1,tarea2,controles,np,examen,final,estado
0,5,*,*,*,*,275.250242,447.083690,171.833448,3,17,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R
1,7,*,*,*,*,41.373362,103.258250,61.884888,1,7,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R
2,16,*,*,*,*,570.704977,707.026370,136.321393,1,7,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R
3,44,*,*,*,*,25.280670,50.940106,25.659436,1,7,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R
4,103,*,*,*,*,85.444223,223.148435,137.704212,1,3,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R

In [5]:
dfs = SelectKBest(f_classif, k=5).fit

selectK_mask = dfs.get_support()

K_featnames = featureNames[selectK_mask]

print("K_featnames: %s" %(K_featnames))

AttributeError: 'SelectKBest' object has no attribute 'shape'